/* -------------------------------- 
Font
-------------------------------- */
$titillium: 'Titillium Web', sans-serif;

/* -------------------------------- 
 Color Palette
-------------------------------- */
//Background Color 
$blue: #3E579E; 
$footerBlue: #344B8A; 	
$purple: #223773;
$mainPurple: #87509C;
$white: #E3E4E8;
$grey: #323E59;		
$lightBlue: #4FBAE8; 
$socialBlue: #30B9E6;
$orange: #E37140;  		
	